.about{

    .container-about{
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .about-container{
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/flower.svg);
        background-position: right 99px top 0;
        .about__text{
            padding-top: 83px;
            height: 99px;
            width: 553px;
            font-size: 22px;
            line-height: 150%;
            color: #292933;
        }
        .about__list{
            display: flex;

            &__item{
                padding-top: 221px;
                &__title{
                    padding-top: 22px;
                    padding-bottom: 11px;
                    font-size: 22px;
                    line-height: 150%;
                    color: #292933;
                }
                &__text{
                    height: 92px;
                    font-size: 20px;
                    line-height: 150%;
                    color: #292933;
                }
            }
            &__hightitem{
                &__highttitle{
                    padding-top: 22px;
                    padding-bottom: 11px;
                    font-size: 22px;
                    line-height: 150%;
                    color: #292933;
                }
                &__highttext{
                    height: 85px;
                    font-size: 20px;
                    line-height: 150%;
                    color: #292933;
                }
            }
        }
    }
}